.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: var(--color-white);
  border: none;
  padding: 0;
}
.imageWrapper {
  position: relative;
  width: 12.75rem;
  height: 12.75rem;
}
.image {
  width: 100%;
  border-radius: 0.5rem;
}
.cartBtn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.discountBadge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.info {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.brand {
  font-size: 0.75rem;
  color: var(--color-gray-900);
}
.name {
  font-size: 1rem;
  color: var(--color-black);
}
