.badge {
  color: var(--color-white);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.default {
  background-color: var(--color-black);
}
.discount {
  background-color: var(--color-red-400);
}
