.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background: var(--color-gray-100);
  padding: 0.75rem;
  font-size: 0.875rem;
  color: var(--color-gray-900);
  border-bottom: 1px solid var(--color-gray-300);
  text-align: center;
}
.row:hover {
  background: var(--color-gray-200);
}
.row td {
  padding: 0.75rem;
  font-size: 0.875rem;
  color: var(--color-text);
  vertical-align: middle;
  text-align: center;
}
.product {
  display: flex;
  align-items: center;
}
.product img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
}
.productName {
  font-weight: 500;
}
.productDetails {
  font-size: 0.75rem;
  color: var(--color-gray-800);
}
.empty {
  text-align: center;
  padding: 4rem 0;
}
.emptyIcon {
  width: 4rem;
  height: 4rem;
  margin: 0 auto 1rem;
  background: var(--color-gray-200);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--color-gray-700);
}
.empty h3 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.empty p {
  color: var(--color-gray-800);
  margin-bottom: 1rem;
}
.button {
  width: 9.5rem;
  height: 2.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button span {
  margin-left: 0.5rem;
}
