.container {
  background-color: var(--color-white);
  border-radius: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray-300);
}

.checkbox {
  margin-right: 0.75rem;
}

.brand {
  font-weight: 500;
}

.list {
  display: block;
}

.list > * + * {
  border-top: 1px solid var(--color-gray-200);
}
