.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.9rem;
  font-weight: 500;
}

.navLink:hover {
  text-decoration: underline;
}

.logoutButton {
  border: none;
  background-color: transparent;
  color: var(--color-text);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
}

.logoutButton:hover {
  text-decoration: underline;
}
