.input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: none;
  font-size: 0.875rem;
  outline: none;
}

input[type="number"]:focus::-webkit-outer-spin-button,
input[type="number"]:focus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 0;
}

input[type="number"]:hover::-webkit-outer-spin-button,
input[type="number"]:hover::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 0;
}
