.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
}

.select {
  min-width: 140px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space-y-6 */
}
